# docker/.env

SERVICE_FQDN_PIPELINE_API=localhost
SERVICE_FQDN_RETRIEVER_API=localhost
SERVICE_URL_PIPELINE_API=http://localhost:8004
SERVICE_URL_RETRIEVER_API=http://localhost:8005

API_KEY=testapikey1234

BGE_M3_API_KEY=xxxx2
BGE_M3_MODEL_ID=BAAI/bge-m3
BGE_M3_SERVICE_URL=https://local-llm-cloudblue.api.blaiq.ai

LLM_ERROR_LOG_BACKUP_COUNT=5
LLM_ERROR_LOG_MAX_BYTES=5242880
LLM_ERROR_LOG_PATH=logs/llm_error.log
LLM_MAX_OUTPUT_TOKENS=4000
LLM_TIMEOUT_SECONDS=60

NEO4J_PASSWORD=testapikey2345
NEO4J_URI=bolt://neo4j:7687
NEO4J_USER=neo4j

OPENAI_API_BASE_URL=https://api.blaiq.ai/v1
OPENAI_API_KEY=xxxx4
OPENAI_FALLBACK_MODEL=ovhcloud/gpt-oss-120b
OPENAI_MODEL=ovhcloud/Qwen3-32B

QDRANT_API_KEY=testapikey3456
QDRANT_URL=http://qdrant:6333
QDRANT_HOST=qdrant
QDRANT_PORT=6333

# DEV:
# docker compose -f docker-compose.yml -f docker-compose.dev.yml down
# docker compose -f docker-compose.yml -f docker-compose.dev.yml build
# docker compose -f docker-compose.yml -f docker-compose.dev.yml up -d

# PROD:
# docker compose down        # 먼저 모두 내리고
# docker compose up -d --build   # 👈 dev.yml 없이 base만
